* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nav-menu {
  background-color: #ffffff;
  width: 17%;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100000;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-menu-items::-webkit-scrollbar {
  width: 6px; 
}
.nav-menu-items::-webkit-scrollbar-thumb {
  background-color: rgb(193, 188, 188); /* Scrollbar thumb color */
}


.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  list-style: none;
  height: 10%;
  min-height: 10%;
}
.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 1rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  border-radius: 15px;
  color: rgba(0, 0, 0, .6);
}

.nav-text a:hover {
  color: #000;
  background-color:#F0F0F0;
}
.view span{
  color: #39BAE5;
  text-transform: uppercase;
}

.stoggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}
.cate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  height: 50vh;
  margin: 0;
}


.premium a{
  background-color: #F9d049;
  color: #000;
}
.premium a:hover{
  background-color: #F9d04990;

}

.nav-menu-items {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}



span {
  margin-left: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  opacity: 0.8;
  letter-spacing: 0.5px;
}
.menu{
  color: #E64E4D;
  letter-spacing: 1px;
  line-height: 11px;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 30px;
  list-style: none;
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 15px;

}
.svg{
  margin : 0;
  padding: none;
}
.svg.d{
  margin-top: 0px;
  margin-left: -3px;
}

.line{
  height: 1.5px;
  width: 200px;
  background-color: lightgray;
  margin-left: 20px;
}
.heading-close{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
@media only screen and (max-width: 600px){
  .nav-menu.active{
    left: -100%;
    transition: 450ms;
    z-index: 100000;
  }
  .nav-menu {
    background-color: #ffffff;
    width: 17%;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100000;
  }
}
@media only screen and (max-width: 900px){
  .nav-menu.active{
    left: -100%;
    transition: 450ms;
    z-index: 100000;
  }
  .nav-menu {
    background-color: #ffffff;
    width: 17%;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100000;
  }
}
@media only screen and (max-width: 1200px){
  .nav-menu.active{
    left: -100%;
    transition: 450ms;
    z-index: 100000;
  }
  .nav-menu {
    background-color: #ffffff;
    width: 17%;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100000;
  }
}