:root {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.layout{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 10px;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 10vh;
  margin-top: 20px;
}

.search-bar{
  width: 400px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F0F0F0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
}
.search-bar input{
  outline: none;
  border:none;
  background-color: #F0F0F0;
  width: 100%;
  font-size: 1rem;
  text-indent: 4px;
}
.topnavbar-button{
  display: flex;

}


.button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E64E4D;
  color:#4d432170;
  border-radius: 20px;
  text-align: center;
  height: 40px;
  border: none;
  padding: 2px 10px 0px 10px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 0.88rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin: 5px;
  letter-spacing: 1px;
}
.button:hover{
  opacity: 0.85;
}
.Heading{
  font-size: 1.5rem;
  margin: 20px;
  font-weight: 700;
}
.button-align{
  display: flex;
  margin: 20px;
}
.video-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  margin: 25px;
}
.video-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 270px;
  align-items: center;
}
.video{
  height: 150px;
  width: 250px;
  position: relative;
}
video{
  height: 150px;
  width: 250px;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}
.video-title{
  display: flex;
  justify-content: space-between;
  
}
.video-profile{
  height: 30px;
  width: 30px;
  border-radius: 19px;
  background-color: lightgrey;
  margin-right: 2px;
}
.video-name{
  font-weight: 700;
  font-size: 1rem;
}
.video-content{
  display: flex;
  flex-direction: column;
  width: 250px;
}
.video-description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.95rem;
  color: #666666;
  margin-left: 34px;
}
.premium-icon{
  height: 25px;
  width: 25px;
  border-radius: 15px;
  z-index: 20;
  position: absolute;
  background-color: #F9d049;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 120px;
  left: 215px;
}
.sign-outer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: 1px solid magenta;
}
.sign-inner{
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55vh;
  width: 400px;
  align-items: center;
}
.text{
  width: 240px;
  height: 38px;
  border-radius: 7px;
  outline: none;
  border:none;
  background-color: #F0F0F0;
  margin-left: 5px;

}
.check{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.sign-head h2{
  display: flex;
  justify-content: flex-start;
  color: #1a1a1a;
  width: 300px;
  font-weight: 700;
}
.check label{
  font-size: 0.75rem;
  color:#666666;
}
.check h4{
  font-size: 1rem;
  color: #00000099;
}
.checkbox{
  display: flex;
  align-items: center;
  width: 115px;
  justify-content: space-between;
}
.input-box{
  width: 300px;
  height: 40px;
  border-radius: 7px;
  background-color: #F0F0F0;
  padding-left: 7px;
  display: flex;
  justify-self:flex-start;
  align-items: center;
}
.key{
  color: pink;
}
.line-align{
  display: flex;
  width: 150px;
  justify-content: flex-start;
  margin-right: 190px;
}
.line{
  height: 1.5px;
  width: 200px;
  background-color: lightgray;
}
.checkbox-email
{
  display:flex;
  justify-content: flex-start;
  padding-left: 19px;
  padding-right: 25px;

}
.checkbox-agree{
  display:flex;
  justify-content: flex-start;
  padding-right: 23px;

}
.checkbox-agree input[type="checkbox"] 
{
  margin-right: 10px;
}
.agree{
  margin-left: 3px;
  margin-right: auto;
  font-weight: normal;
}
.agree:hover{
  font-weight: bold;
}
.TC{
  margin-left: auto;
  background-color: transparent;
  color: black;
  border-color: transparent;
  text-decoration: underline;
  padding-right: 20px;
}
.TC :hover{
  color: blue;
}
.email{
  display: flex;
  font-size: 0.85rem;
  margin-right: 38px;
  font-weight: normal;
}
.email:hover{
  font-weight: bold;
}
.checkbox-email input[type="checkbox"] {
  margin-right: 10px; /* Adjust the right margin to create space */
}